nav {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;

    >img {
        height: 64px;
        width: 64px;
    }

    >div {
        width: 350px;
        display: flex;
        >a {
            &:hover {
                color: red;
            }
        }
    }
}

a {
    text-decoration: none;
    color: white;;
}

.phone_btn {
    
}